<html>
    <body>
        <form>
    <label for="pet-select">Choose a pet:</label>
    <input type="file" name="imgCapture">
        </form>
        <script src="observe.js"></script>
    </body>

</html>